@model IEnumerable<EsbocoEstoque.Models.ClienteModel>
    <h1>Clientes</h1>
    @if (!string.IsNullOrEmpty((String)TempData["mensagemSucesso"]))
{
    <div class="alert alert-warning" role="alert">@TempData["mensagemSucesso"]</div>
}
    <p>
        <!-- uso de TagHelpers para definir o Controller e a Action -->
        <a asp-controller="Estoque" asp-action="Criar">Novo Vinho</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>País de Origem</th>
                <th>Data de Produção (Ano)</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Tipo de Vinho</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.VinhoId</label>
                </td>
                <td>
                    <label>@item.NomeVinho</label>
                </td>
                <td>
                    <label>@item.PaisOrigem</label>
                </td>
                <td>
                    <label>@item.DataProduzido</label>
                </td>
                <td>
                    <label>@item.Preco</label>
                </td>
                <td>
                    <label>@item.Quantidade</label>
                </td>
                <td>
                    <label>@item.TipoVinho</label>
                </td>
                <td>
                    <label>@item.DescricaoVinho</label>
                </td>
                <td>
                    <!-- asp-route-id é usado para informar o Id do Item selecionado. -->
                    <a asp-controller="Cliente"
                       asp-action="Edit"
                       asp-route-id="@item.ClienteId">Editar</a>
                    <a asp-controller="Cliente"
                       asp-action="Detail"
                       asp-route-id="@item.ClienteId">Consultar</a>
                    <a asp-controller="Cliente"
                       asp-action="Delete"
                       asp-route-id="@item.ClienteId">Excluir</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
